<html>
    <head>
        <title>Blah blah blog index</title>
    </head>
    <body>

<h1>Blah blah blog</h1>
<hr>
{% if articleList %}
    <ul>
    {% for article in articleList %}
        <li><a href="/blag/{{ article.id }}/">{{ article.title }}</a> ({{ article.pub_date }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

<a href="submitarticle.html">Submit a new article</a>

</body>
</html>

