<html>
<head>
<title>Submit a new article</title>
</head>

<body>

<form action="submitarticle.html" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

</body>
</html>
